<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @saving.user %>
</p>

<p>
  <strong>Saving value:</strong>
  <%= @saving.saving_value %>
</p>

<p>
  <strong>Week:</strong>
  <%= @saving.week %>
</p>

<%= link_to 'Edit', edit_saving_path(@saving) %> |
<%= link_to 'Back', savings_path %>
